@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');
/* @import './animations.css'; */
@import './navigation.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    overflow-x: scroll;
    font-family: 'Roboto', sans-serif;
}

.carousel-container {
    height: 100%;
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    overflow: auto;
    /* flex: none; */
}

section {
    flex: 0 0 100.01%;
    flex-flow: row nowrap;
    scroll-snap-align: start;
}

/* Portfolio Card Section */

#portfolio {
    background: rgb(58, 133, 180);
    background: linear-gradient(141deg, #FFC533 0%, #FB8500 67%);
}

.portfolio-card {
    background-color: #f5f5f5;
    max-height: 400px;
    max-width: 400px;
    margin: 20px 10px;
    border-radius: 10px;
    padding-top: 20px;
    text-align: center;
    overflow: auto;
}

.portfolio-card img {
    object-fit: cover;
    border-radius: 50%;
    border: solid 5px #8ECAE6;
    box-shadow: -2px 2px 10px -5px grey;
    margin-bottom: 15px;
}

.portfolio-card h1 {
    font-size: 30px;
    color: rgb(58, 58, 58);
}

.portfolio-card p {
    color: grey;
    font-weight: 300;
    font-size: 14px;
}

.portfolio-card .social {
    margin-top: 15px;
    border-top: solid 1px lightgrey;
    /* padding-block: 20px; */
    background-color: #e8e6e6;
    box-shadow: inset 0 1px 10px -7px grey;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-card .social ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.portfolio-card .social ul i {
    font-weight: 400;
    color: black;
    transition: all .2s;
    border-radius: 5px;
}

.portfolio-card .social ul i.fa-square-github {
    color: grey;
}

.portfolio-card .social ul i.fa-linkedin {
    color: #0d5071;
}

/* Hello Section */

#hello {
    background: rgb(0, 0, 0);
    background: linear-gradient(141deg, #000000 0%, #2f5f6b 94%);
    padding: 25px 15px;
}

#hello h2 {
    font-size: 2rem;
    color: #f3f3f3;
}

#hello h3 {
    opacity: 0;
    color: #8ECAE6;
    font-size: 1.5rem;
    /* animation-delay: 2.5s; */
}

#hello p {
    border-left: solid 1px #2f5f6b;
    margin-top: 30px;
    padding-left: 15px;
    padding-bottom: 8px;
    line-height: 1.75rem;
    opacity: 0;
    transform: translateX(60px);
    position: relative;
    color: #d4d4d4;
    font-size: 1.25rem;
}

#hello #intro-highlight {
    color: #8ECAE6;
}

#hello .changing-label {
    position: relative;
    width: 50%;
    height: 28px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

#hello .highlight {
    position: absolute;
    animation: topToBottom 12.5s ease-in infinite 0s;
    -ms-animation: topToBottom 12.5s ease-in infinite 0s;
    -webkit-animation: topToBottom 12.5s ease-in infinite 0s;
    opacity: 0;
    overflow: hidden;
}

#hello .highlight:nth-of-type(2) {
    animation-delay: 2.5s;
}

#hello .highlight:nth-of-type(3) {
    animation-delay: 5s;
}

#hello .highlight:nth-of-type(4) {
    animation-delay: 7.5s;
}

#hello .highlight:nth-of-type(5) {
    animation-delay: 10s;
}

#hello .highlight-word {
    --bg-size: 400%;
    --color-one: rgb(194, 67, 25);
    --color-two: rgb(255, 198, 84);
    font-size: 1.25rem;
    background: linear-gradient(90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)) 0 0 / var(--bg-size) 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: move-bg 8s infinite linear;
}

#hello .skills-container {
    margin-top: 40px;
    text-align: center;
}

#hello .skills {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    justify-items: center;
}

#hello .skills .skill {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: solid 1px #d3d3d3;
    height: 60px;
    width: 60px;
}

#hello .skills .skill .fa-css3-alt,
#hello .skills .skill .fa-html5,
#hello .skills .skill .fa-js,
#hello .skills .skill .fa-sass {
    position: relative;
    filter: drop-shadow(0px 2px 3px rgb(167, 167, 167));
}

#hello .skills .skill .fa-js::after {
    content: "";
    position: absolute;
    background-color: black;
    height: 20px;
    width: 20px;
    bottom: 2px;
    right: 1px;
    z-index: -1;
}

#hello .skills .skill:nth-of-type(2) {
    animation-delay: 3.25s;
}

#hello .skills .skill:nth-of-type(3) {
    animation-delay: 3.5s;
}

#hello .skills .skill:nth-of-type(4) {
    animation-delay: 3.75s;
}

#hello .skills .fa-js {
    color: #ebd438;
}

#hello .skills .fa-css3-alt {
    color: #0d43d6;
}

#hello .skills .fa-html5 {
    color: #e34c27;
}

#hello .skills .fa-sass {
    color: #ff79e4;
}

.pop-up-obo {
    animation: popUpObo .75s forwards ease-in-out 3s;
}


.come-from-right {
    animation: comeFromRight 2s forwards 1s;
}


.smooth-appear {
    animation: comeFromTop 4s forwards;
}

/* Projects Sections */

#projects {
    background-color: cadetblue;
}

#projects h2 {
    margin-bottom: 60px;
    font-size: 2.5rem;
}

.project-carousel-container {
    position: relative;
    width: 725px;
    height: 400px;
    overflow: hidden;
    /* grid-column: 2/-1; */
    border-radius: 10px;
}

.project-carousel-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.project-carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-carousel-thumbnails {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.project-carousel-thumbnails img {
    width: 80px;
    height: 60px;
    margin: 0 10px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.project-carousel-thumbnails img:hover,
.project-carousel-thumbnails img.active {
    opacity: 1;
}

.project-list {
    list-style-type: none;
    counter-reset: my-awesome-counter;
}

.project-list .project-list__item a {
    text-decoration: none;
    padding: 10px;
    background-color: #2f5f6b;
    border-radius: 5px;
    color: white;
    /* margin-block: 40px; */
}

.project-list .project-list__item__grid {
    grid-template-columns: auto;
}

.project-list .project-list__item {
    counter-increment: my-awesome-counter;
    margin-block: 100px;
}

.project-list .project-list__item__description {
    line-height: 1.5rem;
    position: relative;
}

.project-list .project-list__item__description::before {
    content: counter(my-awesome-counter);
    font-size: 5rem;
    top: -10px;
    left: -15px;
    color: azure;
    position: absolute;
    z-index: -1;
}


/* Media Queries */
@media (min-width: 768px) {
    .portfolio-card {
        margin: 20px auto;
    }

    .project-list .project-list__item__description {
        grid-column: 1/ span 3;
    }
}

@media (min-width: 1024px) {
    .project-list .project-list__item__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        margin-block: 20px;
    }

    .project-carousel-container {
        position: relative;
        width: 600px;
        height: 400px;
        overflow: hidden;
        /* grid-column: 4/-1; */
        border-radius: 10px;
    }

    .pop-up-obo {
        animation: popUpObo .25s forwards ease-in-out 1.5s;
    }


    .come-from-right {
        animation: comeFromRight 1s forwards 1s;
    }


    .smooth-appear {
        animation: comeFromTop 2s forwards;
    }

    #hello .skills .skill:nth-of-type(2) {
        animation-delay: 1.75s;
    }

    #hello .skills .skill:nth-of-type(3) {
        animation-delay: 2s;
    }

    #hello .skills .skill:nth-of-type(4) {
        animation-delay: 2.25s;
    }

    section {
        background: none !important;
        /* background: rgb(0, 0, 0) !important;
        background: linear-gradient(141deg, #000000 0%, #4a585b 94%) !important;
        background-repeat: no-repeat; */
    }

    .section-content {
        margin-left: 10%;
        padding-right: 20px;
        /* position: relative; */
    }

    #hello {
        position: relative;
    }

    #hello h2 {
        font-size: 4rem;
        color: #023047;
    }

    #hello::after {
        content: "";
        position: absolute;
        inset-inline: 0;
        top: 85px;
        bottom: 25%;
        /* transform: skewY(-5deg); */
        z-index: -1;
        background: #202020;
    }

    #hello #intro-highlight {
        /* color: #000; */
    }

    #hello p,
    h2,
    .skills-container {
        max-width: 900px;
        position: static;
    }

    #hello #intro-highlight {
        display: inline-block;
        margin-bottom: 1.5rem;
    }

    body {
        overflow-x: hidden;
        min-height: 100vh;
        background: rgb(58, 133, 180);
        background: linear-gradient(141deg, #FFC533 0%, #FB8500 67%);
        /* font-family: 'Roboto', sans-serif; */
    }

    .carousel-container {
        height: 100%;
        width: 100%;
        /* scroll-snap-type: y mandatory; */
        display: flex;
        flex-direction: column;
        overflow: auto;
        /* flex: none; */
    }
}