html {
  scroll-behavior: smooth;
}

#about .portfolio-img {
  display: block;
  height: 125px;
  width: 125px;
}

#about img {
  width: 100%;
  border-radius: 50%;
}

#about .flex-header {
  gap: 40px;
}

/* #about .flex-header span{
  background-image: url('assets/Me.png');
  background-repeat: no-repeat;
  object-fit: cover;
} */

nav.navbar{
  background-color: transparent !important;
  transition: all .2s;
}

.navbar.solid-bg {
  background-color: rgba(0, 0, 0, .80) !important;
  backdrop-filter: blur(10px);
  transition: all .2s;
}

#navbar-header-menu .navbar-item {
  background-color: transparent;
  color: #dceaff;
}

#navbar-header-menu .navbar-item:hover {
  color: #9ca7b9;
}

/* Position the skill icons to the left of the skill titles */
.skill-icon {
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: middle;
}

.box.skill-box {
  box-shadow: 0 4px 12px -4px rgba(0, 0, 0, .80);
}

.hero.is-primary {
  background-color: #fc466b;
  background-image: linear-gradient(to right, #fc466b 0%, #00b09b 90%) !important;
  background-size: 200%;
  animation: gradient 6s ease infinite;
}

.hero-links {
  width: 100%;
  margin-top: 2rem;
}

.navbar-burger{
  /* margin-right: 3rem; */
}

.navbar-burger:hover{
  background: none;
}
.navbar-burger span{
  /* width: 2rem; */
  height: 3px;
}

.navbar-burger span:nth-child(3) {
  top: calc(50% + 10px);
}

.navbar-burger span:nth-child(2) {
  top: calc(50% - -2px);
}

.navbar-burger.is-active span:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

/* Define animations */
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1023px){
  #navbar-header-menu {
    background-color: black;
  }
}